In [3]:
# importing dependencies
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import *
import requests
import time
import json
import datetime
from pprint import pprint

# Google developer API key
#from config import google_key

# Census developer API key
#from config import census_key

## Data Load, Prep and Review

In [4]:
# reading csv file
StopOriginal = pd.read_csv('MplsStops_base.csv')
# displaying file header and five rows
StopOriginal.head()

,Unnamed: 0,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,policePrecinct,neighborhood
0,6823,17-000003,1/1/17 0:00,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Unknown,44.966617,-93.246458,1,Cedar Riverside
1,6824,17-000007,1/1/17 0:03,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Male,44.980450,-93.271340,1,Downtown West
2,6825,17-000073,1/1/17 0:23,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.948350,-93.275380,5,Whittier
3,6826,17-000092,1/1/17 0:33,suspicious,MDC,NaN,NO,NO,Unknown,East African,Male,44.948360,-93.281350,5,Whittier
4,6827,17-000098,1/1/17 0:37,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.979078,-93.262076,1,Downtown West

In [64]:
#testing cell

#count of race
StopOriginal['race'].value_counts()

Black              15220
White              11703
Unknown             9219
East African        2188
Latino              1858
Native American     1516
Other               1348
Asian                647
Name: race, dtype: int64

In [44]:
#total stops in df
stops = precinct_df['policePrecinct'].sum()
stops

51920

In [67]:
#stops per precinct 
precinct_df = pd.DataFrame(StopOriginal['policePrecinct'].value_counts())
#precinct_df

#percent of stops per precinct
precinct_percent = pd.DataFrame(precinct_df['policePrecinct'] / stops * 100)
precinct_percent = precinct_percent.rename(columns={'policePrecinct':'Percent of Stops'})
precinct_percent["Percent of Stops"] = precinct_percent["Percent of Stops"].map("% {:.2f}".format)
#precinct_percent

precincts = pd.concat([precinct_df,precinct_percent], axis=1)
precincts = precincts.rename(columns={'policePrecinct':'Precinct'})

#adding race catg's to df
precincts['Black'] = ""
precincts['White'] = ""
precincts['Unknown'] = ""
precincts['East African'] = ""
precincts['Latino'] = ""
precincts['Native American'] = ""
precincts['Other'] = ""
precincts['Asian'] = ""

precincts

,Precinct,Percent of Stops,Black,White,Unknown,East African,Latino,Native American,Other,Asian
5,12825,% 24.70,,,,,,,,
4,12273,% 23.64,,,,,,,,
3,9792,% 18.86,,,,,,,,
2,9478,% 18.26,,,,,,,,
1,7552,% 14.55,,,,,,,,

In [18]:
#data cat by precinct   
precinct_one = StopOriginal.loc[StopOriginal['policePrecinct'] == 1 ]
precinct_two = StopOriginal.loc[StopOriginal['policePrecinct'] == 2 ]
precinct_three = StopOriginal.loc[StopOriginal['policePrecinct'] == 3 ]
precinct_four = StopOriginal.loc[StopOriginal['policePrecinct'] == 4 ]
precinct_five = StopOriginal.loc[StopOriginal['policePrecinct'] == 5 ]

In [94]:
precinct_stops = pd.DataFrame(StopOriginal['policePrecinct'].value_counts())
#precinct_stops = pd.concat([precinct_stops,one_race_count], axis=1)
precinct_stops

   policePrecinct
5           12825
4           12273
3            9792
2            9478
1            7552

In [138]:
# count of stops per race per precinct
one_race_count =pd.DataFrame(precinct_one['race'].value_counts())
two_race_count = pd.DataFrame(precinct_two['race'].value_counts())
three_race_count = pd.DataFrame(precinct_two['race'].value_counts())
four_race_count = pd.DataFrame(precinct_two['race'].value_counts())
five_race_count = pd.DataFrame(precinct_two['race'].value_counts())

In [139]:
one_race_count

                 race
Black            2176
White            1368
Unknown           897
East African      286
Native American   192
Other             165
Latino            100
Asian              65