In [2]:
# importing dependencies
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import *
import requests
import time
import json
import datetime
from pprint import pprint

# Google developer API key
#from config import google_key

# Census developer API key
#from config import census_key

## Data Load, Prep and Review

In [16]:
# reading csv file
StopOriginal = pd.read_csv('MplsStops_base.csv')
# displaying file header and five rows
StopOriginal.head()

#data catg by precinct   
precinct_one = StopOriginal.loc[StopOriginal['policePrecinct'] == 1 ]
precinct_two = StopOriginal.loc[StopOriginal['policePrecinct'] == 2 ]
precinct_three = StopOriginal.loc[StopOriginal['policePrecinct'] == 3 ]
precinct_four = StopOriginal.loc[StopOriginal['policePrecinct'] == 4 ]
precinct_five = StopOriginal.loc[StopOriginal['policePrecinct'] == 5 ]

StopOriginal

,Unnamed: 0,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,policePrecinct,neighborhood
0,6823,17-000003,1/1/17 0:00,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Unknown,44.966617,-93.246458,1,Cedar Riverside
1,6824,17-000007,1/1/17 0:03,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Male,44.980450,-93.271340,1,Downtown West
2,6825,17-000073,1/1/17 0:23,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.948350,-93.275380,5,Whittier
3,6826,17-000092,1/1/17 0:33,suspicious,MDC,NaN,NO,NO,Unknown,East African,Male,44.948360,-93.281350,5,Whittier
4,6827,17-000098,1/1/17 0:37,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.979078,-93.262076,1,Downtown West
5,6828,17-000111,1/1/17 0:46,traffic,MDC,NaN,NO,NO,Unknown,East African,Male,44.980535,-93.263627,1,Downtown West
6,6829,17-000114,1/1/17 0:48,suspicious,MDC,NaN,NO,NO,Unknown,Black,Male,44.980808,-93.273141,1,Downtown West
7,6830,17-000120,1/1/17 0:50,traffic,MDC,NaN,NO,NO,Unknown,Other,Female,44.982093,-93.238155,2,Marcy Holmes
8,6831,17-000127,1/1/17 0:57,traffic,MDC,NaN,NO,NO,Unknown,White,Male,44.990319,-93.252042,2,Nicollet Island - East Bank
9,6832,17-000139,1/1/17 1:05,traffic,MDC,NaN,NO,NO,Unknown,Black,Male,45.013270,-93.308240,4,Folwell
10,6833,17-000149,1/1/17 1:09,suspicious,MDC,NaN,NO,NO,White,Unknown,Male,44.964583,-93.276582,5,Steven's Square - Loring Heights
11,6834,17-000161,1/1/17 1:15,traffic,other,NaN,NaN,NaN,NaN,NaN,NaN,44.973080,-93.247720,1,Cedar Riverside
12,6835,17-000169,1/1/17 1:19,traffic,MDC,NaN,NO,NO,Unknown,Black,Male,44.998710,-93.253080,2,St. Anthony East
13,6836,17-000176,1/1/17 1:22,traffic,MDC,NaN,NO,NO,Unknown,Black,Male,44.979570,-93.272570,1,Downtown West
14,6837,17-000204,1/1/17 1:41,suspicious,MDC,NaN,NO,NO,Unknown,White,Female,44.980450,-93.271340,1,Downtown West
15,6838,17-000211,1/1/17 1:45,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Unknown,44.980781,-93.274296,1,Downtown West
16,6839,17-000220,1/1/17 1:51,suspicious,MDC,NaN,NO,NO,Unknown,White,Female,44.991500,-93.305720,4,Willard - Hay
17,6840,17-000224,1/1/17 1:52,suspicious,other,NaN,NaN,NaN,NaN,NaN,NaN,44.981240,-93.272540,1,Downtown West
18,6841,17-000225,1/1/17 1:53,traffic,MDC,NaN,NO,NO,Unknown,White,Male,44.998712,-93.251836,2,Logan Park
19,6842,17-000236,1/1/17 2:04,suspicious,MDC,NaN,NO,NO,Black,Unknown,Male,44.949250,-93.295730,5,Lowry Hill East
20,6843,17-000244,1/1/17 2:09,traffic,MDC,NaN,NO,NO,Unknown,White,Male,44.998278,-93.281726,4,Near - North
21,6844,17-000266,1/1/17 2:22,traffic,MDC,NaN,YES,YES,Unknown,Black,Female,44.997380,-93.287990,4,Near - North
22,6845,17-000290,1/1/17 2:33,suspicious,MDC,NaN,YES,NO,Black,Black,Male,44.980744,-93.289599,4,Sumner - Glenwood
23,6846,17-000298,1/1/17 2:36,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.948360,-93.290650,5,CARAG
24,6847,17-000317,1/1/17 2:45,traffic,MDC,NaN,NO,NO,Unknown,White,Male,44.948360,-93.285550,5,Whittier
25,6848,17-000333,1/1/17 2:53,traffic,MDC,NaN,NO,NO,Unknown,Black,Male,44.999160,-93.295640,4,Near - North
26,6849,17-000347,1/1/17 3:04,traffic,MDC,NaN,NO,NO,Unknown,Unknown,Unknown,44.960910,-93.288010,5,Whittier
27,6850,17-000362,1/1/17 3:14,traffic,MDC,NaN,NO,NO,Unknown,East African,Male,44.949770,-93.313800,5,Cedar - Isles - Dean
28,6851,17-000365,1/1/17 3:16,suspicious,other,NaN,NaN,NaN,NaN,NaN,NaN,45.010437,-93.293059,4,Hawthorne
29,6852,17-000380,1/1/17 3:23,traffic,MDC,NaN,NO,NO,Unknown,White,Male,44.964198,-93.278573,5,Steven's Square - Loring Heights
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51890,60809,17-491178,12/31/17 18:36,traffic,MDC,YES,NO,NO,Unknown,White,Female,45.006513,-93.281846,4,Hawthorne
51891,60810,17-491197,12/31/17 18:53,traffic,MDC,YES,NO,NO,Unknown,East African,Female,44.999069,-93.276945,4,Near - North
51892,60811,17-491221,12/31/17 19:17,suspicious,MDC,NO,NO,NO,Unknown,White,Male,44.949204,-93.293188,5,Lowry Hill East
51893,60812,17-491225,12/31/17 19:23,traffic,MDC,NO,NO,NO,White,White,Male,44.904830,-93.283833,5,Windom
51894,60813,17-491243,12/31/17 19:56,traffic,MDC,YES,NO,NO,Unknown,White,Male,44.998966,-93.275148,2,Sheridan
51895,60814,17-491244,12/31/17 19:57,traffic,MDC,NO,NO,NO,Unknown,Asian,Male,44.973099,-93.228692,2,University of Minnesota
51896,60815,17-491245,12/31/17 19:57,suspicious,MDC,NO,NO,NO,Unknown,Unknown,Unknown,44.982620,-93.298198,4,Harrison
51897,60816,17-491247,12/31/17 20:02,suspicious,other,NaN,NaN,NaN,NaN,NaN,NaN,44.985979,-93.281482,1,North Loop
51898,60817,17-491248,12/31/17 20:02,traffic,MDC,NO,NO,NO,White,White,Male,44.905565,-93.278088,5,Tangletown
51899,60818,17-491250,12/31/17 20:04,suspicious,MDC,NO,NO,NO,Unknown,Black,Male,44.929527,-93.288270,5,East Harriet
51900,60819,17-491254,12/31/17 20:09,traffic,MDC,NO,NO,NO,White,White,Female,44.970233,-93.223584,2,Prospect Park - East River Road
51901,60820,17-491255,12/31/17 20:14,traffic,MDC,YES,NO,NO,Unknown,Black,Male,44.996270,-93.237192,2,Mid - City Industrial
51902,60821,17-491261,12/31/17 20:26,suspicious,other,NaN,NaN,NaN,NaN,NaN,NaN,44.956441,-93.254971,3,Midtown Phillips
51903,60822,17-491264,12/31/17 20:28,traffic,MDC,YES,NO,NO,Unknown,Black,Male,44.991485,-93.233948,2,Como
51904,60823,17-491265,12/31/17 20:30,suspicious,MDC,YES,YES,YES,Unknown,Native American,Female,44.981040,-93.237170,2,Marcy Holmes
51905,60824,17-491300,12/31/17 21:09,traffic,MDC,YES,NO,NO,Unknown,Black,Male,44.981875,-93.239237,2,Marcy Holmes
51906,60825,17-491324,12/31/17 21:31,suspicious,MDC,NO,YES,NO,Unknown,Native American,Female,44.956460,-93.247350,3,East Phillips
51907,60826,17-491343,12/31/17 21:46,traffic,MDC,YES,NO,NO,Unknown,Black,Male,44.984587,-93.267880,1,North Loop
51908,60827,17-491346,12/31/17 21:48,traffic,MDC,NO,NO,NO,East African,East African,Male,44.948365,-93.254413,3,Powderhorn Park
51909,60828,17-491351,12/31/17 21:56,suspicious,MDC,NO,NO,NO,Unknown,Unknown,Unknown,45.048425,-93.294067,4,Lind - Bohanon
51910,60829,17-491366,12/31/17 22:07,suspicious,MDC,NO,NO,NO,Unknown,Unknown,Male,45.023043,-93.290580,4,McKinley
51911,60830,17-491406,12/31/17 22:45,traffic,MDC,NO,NO,NO,Unknown,Black,Male,44.950740,-93.282990,5,Whittier
51912,60831,17-491414,12/31/17 22:50,suspicious,other,NaN,NaN,NaN,NaN,NaN,NaN,44.969863,-93.280080,1,Loring Park
51913,60832,17-491435,12/31/17 23:08,suspicious,other,NaN,NaN,NaN,NaN,NaN,NaN,45.014970,-93.247340,2,Holland
51914,60833,17-491438,12/31/17 23:11,suspicious,MDC,NO,NO,NO,Unknown,Unknown,Unknown,44.931410,-93.234658,3,Standish
51915,60834,17-491442,12/31/17 23:15,traffic,MDC,YES,NO,NO,Unknown,Black,Female,44.990547,-93.251285,2,Marcy Holmes
51916,60835,17-491445,12/31/17 23:18,suspicious,MDC,NO,NO,NO,Unknown,Unknown,Unknown,44.959150,-93.277850,5,Whittier
51917,60836,17-491462,12/31/17 23:31,traffic,MDC,NO,NO,NO,Unknown,Black,Male,44.997803,-93.252438,2,St. Anthony East
51918,60837,17-491480,12/31/17 23:48,traffic,MDC,NO,YES,YES,Unknown,White,Male,44.989595,-93.252222,2,Marcy Holmes
51919,60838,17-491482,12/31/17 23:52,traffic,MDC,NO,NO,NO,Unknown,Unknown,Unknown,44.949255,-93.296363,5,Lowry Hill East

### Total Stops

In [4]:
precinct_df = pd.DataFrame(StopOriginal['policePrecinct'].value_counts())
stops = precinct_df['policePrecinct'].sum()
stops

51920

 ### Count of Stops by Race

In [5]:
race_count = pd.DataFrame(StopOriginal['race'].value_counts())
race_count['%'] = race_count['race'] / stops * 100
race_count['%'] = race_count['%'].map("% {:.2f}".format)
race_count
#plt.pie(race_count['race'])
#plt.show()

                  race        %
Black            15220  % 29.31
White            11703  % 22.54
Unknown           9219  % 17.76
East African      2188   % 4.21
Latino            1858   % 3.58
Native American   1516   % 2.92
Other             1348   % 2.60
Asian              647   % 1.25

### Stops Per Precinct by Race

In [6]:
# count of stops per race per precinct
one_race_count = pd.DataFrame(precinct_one['race'].value_counts())
one_race_count = one_race_count.rename(columns={'race':'one'})

two_race_count = pd.DataFrame(precinct_two['race'].value_counts())
two_race_count = two_race_count.rename(columns={'race':'two'})

three_race_count = pd.DataFrame(precinct_three['race'].value_counts())
three_race_count = three_race_count.rename(columns={'race':'three'})

four_race_count = pd.DataFrame(precinct_four['race'].value_counts())
four_race_count = four_race_count.rename(columns={'race':'four'})

five_race_count = pd.DataFrame(precinct_five['race'].value_counts())
five_race_count = five_race_count.rename(columns={'race':'five'})

#stops per precinct by race
stops_per_precinct_by_race = pd.concat([one_race_count,two_race_count,three_race_count,four_race_count,five_race_count], axis=1, sort=True)
stops_per_precinct_by_race = stops_per_precinct_by_race.reset_index()
stops_per_precinct_by_race = stops_per_precinct_by_race.rename(columns={'index':'race'})
stops_per_precinct_by_race = stops_per_precinct_by_race[['race','one','two','three','four','five']]
stops_per_precinct_by_race['Total'] = stops_per_precinct_by_race.sum(axis=1)

stops_per_precinct_by_race

              race   one   two  three  four  five  Total
0            Asian    65   165     53   177   187    647
1            Black  2176  2226   2059  6183  2576  15220
2     East African   286   364    463   127   948   2188
3           Latino   100   429    543   216   570   1858
4  Native American   192   119    750   108   347   1516
5            Other   165   304    273   228   378   1348
6          Unknown   897  1033   2893  2494  1902   9219
7            White  1368  3304   1311  1193  4527  11703

### Precinct Stops by Gender By Gender

In [7]:
one_sex = pd.DataFrame(precinct_one['gender'].value_counts())
two_sex = pd.DataFrame(precinct_two['gender'].value_counts())
three_sex = pd.DataFrame(precinct_three['gender'].value_counts())
four_sex = pd.DataFrame(precinct_four['gender'].value_counts())
five_sex = pd.DataFrame(precinct_five['gender'].value_counts())

precincts_sex = pd.concat([one_sex,two_sex,three_sex,four_sex,five_sex] , axis=1, sort=False)
precincts_sex.columns = ['One','Two','Three','Four','Five']
precincts_sex['Total'] = precincts_sex.sum(axis=1)
precincts_sex['%'] = precincts_sex['Total'] / precincts_sex['Total'].sum() * 100 
precincts_sex['%'] = precincts_sex['%'].map("% {:.2f}".format)
precincts_sex

          One   Two  Three  Four  Five  Total        %
Male     3664  5181   4816  6468  7002  27131  % 62.17
Female    985  2109   1598  2297  3026  10015  % 22.95
Unknown   593   645   1922  1943  1389   6492  % 14.88

###  Stops by Gender By Gender

In [8]:
stop_by_gender = precincts_sex[['Total','%']]
stop_by_gender

         Total        %
Male     27131  % 62.17
Female   10015  % 22.95
Unknown   6492  % 14.88

### PreRace vs Race

In [111]:
#reading the csv
pre_race_count = pd.DataFrame(pre_race['preRace'].value_counts())

#summarizing data for preRace vs Race 
e_test = e_test.loc[e_test['MDC'] == 'MDC']

#data table with only preRace classfication
pre_race = e_test.loc[e_test['preRace'] != 'Unknown'] #should we filter out other?

#see how many times preRace matched race
race_match = pre_race.loc[pre_race['preRace'] == pre_race['race']]
race_match_count = len(race_match)
print(f'{race_match_count} times preRace matched actual Race')

#see how many times preRace DID NOT match actual race
race_NA_match = pre_race.loc[pre_race['preRace'] != pre_race['race']]
race_NA_match_count = len(race_NA_match)
print(f'{race_NA_match_count} times preRace did not match Race')

race_predictions = pd.DataFrame(
                                {"Pre_Race matched Actuall Race" : [race_match_count],
                                "Pre_Race did not match Actuall Race" : [race_NA_match_count]
                                 })
race_predictions

12573 times preRace matched actual Race
2789 times preRace did not match Race

   Pre_Race matched Actuall Race  Pre_Race did not match Actuall Race
0                          12573                                 2789

### Count of each race before verfication

In [112]:
pre_race_count = pd.DataFrame(pre_race['preRace'].value_counts())
post_race_count

                 race
Black            5735
White            5007
Unknown          2170
Native American   856
East African      511
Latino            491
Other             431
Asian             161

### Prerace vs Race by Precinct

In [113]:
#count of stops per precinct where preRace was determined 
one_count = len(pre_race.loc[pre_race['policePrecinct'] == 1])
two_count = len(pre_race.loc[pre_race['policePrecinct'] == 2])
three_count = len(pre_race.loc[pre_race['policePrecinct'] == 3])
four_count = len(pre_race.loc[pre_race['policePrecinct'] == 4])
five_count = len(pre_race.loc[pre_race['policePrecinct'] == 5])

#Breaking out by precinct whre pre race macthed actual race
race_match_one = pre_race.loc[(pre_race['preRace'] == pre_race['race']) & (pre_race['policePrecinct'] == 1) ]
race_match_two = pre_race.loc[(pre_race['preRace'] == pre_race['race']) & (pre_race['policePrecinct'] == 2) ]
race_match_three = pre_race.loc[(pre_race['preRace'] == pre_race['race']) & (pre_race['policePrecinct'] == 3) ]
race_match_four = pre_race.loc[(pre_race['preRace'] == pre_race['race']) & (pre_race['policePrecinct'] == 4) ]
race_match_five= pre_race.loc[(pre_race['preRace'] == pre_race['race']) & (pre_race['policePrecinct'] == 5) ]

#count of how many times each precinct matched the race correctly 
precinct_one_count = len(race_match_one)
precinct_two_count = len(race_match_two)
precinct_three_count = len(race_match_three)
precinct_four_count = len(race_match_four)
precinct_five_count = len(race_match_five)

#percent of each precinct match rate
preccint_one_percent = precinct_one_count / one_count * 100
preccint_two_percent = precinct_two_count / two_count * 100
preccint_three_percent = precinct_three_count / three_count * 100
preccint_four_percent = precinct_four_count / four_count * 100
preccint_five_percent = precinct_five_count / five_count * 100


#print findings
print(f'Match count for precinct One {precinct_one_count}')
print(f'Precint One was correct {preccint_one_percent} of the time')
print("")
print(f'Match count for precinct Two {precinct_two_count}')
print(f'Precint Two was correct {preccint_two_percent} of the time')
print("")
print(f'Match count for precinct Three {precinct_three_count}')
print(f'Precint Three was correct {preccint_three_percent} of the time')
print("")
print(f'Precint Four was correct {preccint_four_percent} of the time')
print(f'Match count for precinct Four {precinct_four_count}')
print("")
print(f'Match count for precinct Five {precinct_five_count}')
print(f'Precint Five was correct {preccint_five_percent} of the time')
print("")

Match count for precinct One 2059
Precint One was correct 87.91631084543125 of the time

Match count for precinct Two 2083
Precint Two was correct 86.64725457570715 of the time

Match count for precinct Three 2097
Precint Three was correct 69.41410129096326 of the time

Precint Four was correct 83.11864406779661 of the time
Match count for precinct Four 2452

Match count for precinct Five 3882
Precint Five was correct 83.57373519913885 of the time

In [119]:
#creating df
precint_match_df = pd.DataFrame({ 'Matches':[precinct_one_count,precinct_two_count,precinct_three_count,precinct_four_count,precinct_five_count],
                                  'Match Rate' :[preccint_one_percent,preccint_two_percent,preccint_three_percent,preccint_four_percent,preccint_five_percent]},
                                     index=[1,2,3,4,5])
precint_match_df['Match Rate'] = precint_match_df['Match Rate'].map("% {:.2f}".format)

precint_match_df.index.name = 'Precinct'
precint_match_df

          Matches Match Rate
Precinct
1            2059    % 87.92
2            2083    % 86.65
3            2097    % 69.41
4            2452    % 83.12
5            3882    % 83.57

# Test work below

### At the moment I have been able to split the date column into date and time, Remove the : char and convert the dtype to int

### Still need to either convert the time to a diffrent format or work on my binning method

In [15]:
StopOriginal = pd.read_csv('MplsStops_base.csv', parse_dates=['date'], infer_datetime_format=True)

StopOriginal['Time'] = StopOriginal.date.dt.time


def get_sec(time_str):
    h, m, s = time_str.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

for time in StopOriginal:
    convertedTime = get_sec(time['Time'])
    StopOriginal.append({'convertedTime': convertedTime})


# displaying file header and five rows
StopOriginal.head()

,Unnamed: 0,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,policePrecinct,neighborhood,Time
0,6823,17-000003,2017-01-01 00:00:00,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Unknown,44.966617,-93.246458,1,Cedar Riverside,00:00:00
1,6824,17-000007,2017-01-01 00:03:00,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Male,44.980450,-93.271340,1,Downtown West,00:03:00
2,6825,17-000073,2017-01-01 00:23:00,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.948350,-93.275380,5,Whittier,00:23:00
3,6826,17-000092,2017-01-01 00:33:00,suspicious,MDC,NaN,NO,NO,Unknown,East African,Male,44.948360,-93.281350,5,Whittier,00:33:00
4,6827,17-000098,2017-01-01 00:37:00,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.979078,-93.262076,1,Downtown West,00:37:00

In [10]:
for row in StopOriginal:
    newTime = sum(int(x) * 60 ** i for i,x in enumerate(reversed(row['date'].split(":"))))
    StopOriginal.append({'Time in Seconds': newTime})

TypeError: string indices must be integers

In [ ]:
#split date column into time and date and remove :
StopOriginal['Date'], StopOriginal['Time'] = StopOriginal['date'].str.split(' ', 1).str
StopOriginal['Time'] = StopOriginal['Time'].apply(lambda x: x.replace(':',''))
StopOriginal['Time'] = StopOriginal['Time'].astype('int')
#StopOriginal.dtypes
StopOriginal

In [ ]:
bins = [0, 559,1200,1700,2000]
groups = ["Night","Morning","AfterNoon","Evening"]

StopOriginal["Time Segments"] = pd.cut(StopOriginal["Time"], bins, labels=groups)
StopOriginal.head()

In [ ]:
print(one_white['race'].value_counts())

In [ ]:
# need to look at this again. 

#stops per precinct 
precinct_df = pd.DataFrame(StopOriginal['policePrecinct'].value_counts())
#precinct_df

#percent of stops per precinct
precinct_percent = pd.DataFrame(precinct_df['policePrecinct'] / stops * 100)
precinct_percent = precinct_percent.rename(columns={'policePrecinct':'Percent of Stops'})
precinct_percent["Percent of Stops"] = precinct_percent["Percent of Stops"].map("% {:.2f}".format)
#precinct_percent

precincts = pd.concat([precinct_df,precinct_percent], axis=1)
precincts = precincts.rename(columns={'policePrecinct':'Precinct'})

#adding race catg's to df
precincts['Black'] = ""
precincts['White'] = ""
precincts['Unknown'] = ""
precincts['East African'] = ""
precincts['Latino'] = ""
precincts['Native American'] = ""
precincts['Other'] = ""
precincts['Asian'] = ""

precincts